@model Duudelides.ViewModels.DoodleModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table border="5">
    
    
    @foreach (var participant in Model.)
    {
        <li>@Html.ActionLink(doodel.Title, "MyDoodle", new {id = doodel.Id})</li>
        <li>participant</li>
    }

</table>